.notification-container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999;
  width: auto;
  padding: 0px 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}